# v2 syntax
version: '2'

# Named volumes
volumes:
  test-mysql-data:
    driver: local

services:
  # MySQL (5.7)
  mysql:
    image: mysql:5.7
    container_name: test-mysql
    volumes:
      - ./database/db80:/var/lib/mysql:rw
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=test
      - MYSQL_DATABASE=test
      - MYSQL_USER=test
      - MYSQL_PASSWORD=test
  backend-app:
    image: ambientum/php:7.2-nginx
    container_name: backend-app
    volumes:
      - ./backend/:/var/www/app
    ports:
      - "80:8080"
    links:
      - mysql
  # frontend-app:
  #   restart: always
  #   build: .
  #   volumes:
  #     - ./frontend/:/app
  #   working_dir: /app
  #   ports:
  #     - 3000:8080
  #   command: ['yarn','serve']
